.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--text-color);
    flex-direction: column;
}
.auth-page__logo{
    width: 200px;
}

.auth__form {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 20px 30px;
    gap: 15px;
    border-radius: 5px;
    width: 400px;
}

.auth__form__group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.auth__form__group input:focus {
    box-shadow: 0 0 5px  var(--secondary); /* Green glow */
    outline: none;
}
.auth__form__group label {
    font-weight: 700;
}
.auth__form__header {
    font-weight: 400;
}
.auth__form__submit {
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--light);
    padding: 5px 10px;
    border: none;
}
.auth-page__account {
    margin-top: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.auth-page__border {
    width: 100%;
    display: flex;
    color: gray;
}
.auth-page__border > span {
    font-size: .8rem;
    padding: 0 5px;
}
.auth-page__border-left {
    border-top: 1px solid lightgray;
    flex-grow: 1;
    align-self: center;
}
.auth-page__border-right {
    border-top: 1px solid lightgray;
    flex-grow: 1;
    align-self: center;
    
}

.auth-page__account a {
    border: 1px solid lightgray;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.errors {
    color: red;
}
.auth__form__demo {
    background-color: var(--secondary);
    border-radius: 5px;
    color: var(--light);
    padding: 5px 10px;
    border: none;
}

.auth__form ul li {
    color: red;
    font-size: .8rem;
}