.product__create__form {
    border: 1px solid var(--light);
    display: flex;
    margin-top: 20px;
    width: 660px;
    padding: 10px 30px;
    flex-direction: column;
    gap: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;

}
.product__create__form  h1 {
    text-align: center;
}
.product__create__form  input {
    outline: none;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
.product__create__form__group {
    display: flex;
    gap: 10px;
    position: relative;
    width: 100%;
    
}

.product__create__form label {
    position: absolute;
    transition: all .3s ease;
    bottom: 2px;
}

.product__create__form label.filled {
    transform: translateY(-90%);
}

.product__create__form__group input:focus + label {
    transform: translateY(-100%);
}

.product__create__form__group input:not(:focus):placeholder-shown + label {
    transform: translateY(0);
}
.product__create__form__main-image {
    height: 300px;
    border: 4px dotted var(--primary);
    border-radius: 15px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
    transition: all .2s ease;
}
.product__create__form__main-image__uploaded {
    border: 1px solid var(--light);
    position: relative;
}
.product__create__form__main-image__close{
    position: absolute;
    left: 100%;
    bottom: 100%;
    transform: translate(-100%, 100%);
    padding: 5px 9px;
    border: none;
    background-color: rgb(251, 29, 29);
    color: white;


}
.product__create__form__main-image:hover {
    background-color: var(--primary);
    color: white;
}
.f-center {
    justify-content: center;
    flex-wrap: wrap;
}
.hidden {
    display: none;
}
.product__create__form__additional-image {
    height: 200px;
    border: 4px dotted var(--secondary);
    border-radius: 15px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
    transition: all .2s ease;
}
.product__create__form__additional-image:hover {
    background-color: var(--secondary);
    color: white;

}

.product__create__form__additional-image__uploaded {
    border: 1px solid var(--light);
    position: relative;
    width: 200px;
    height: 200px;

}
.product__create__form__additional-image__close{
    position: absolute;
    bottom: 100%;
    left: 100%;
    transform: translate(-100%, 100%);
    padding: 5px 5px;
    border: 1px solid red;
    color: white;
    font-size: 1rem;
    background-color: red; 
    display: flex;
    align-items: center;
    justify-content: center;

}
span.product__create__form__category {
    border: 2px solid var(--light);
    padding: 2px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.category-close {
    font-size: .8rem;
}
.product__create__form-submit {
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: white;
}
.product__create__form-delete {
    padding: 10px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
}
.product__create__form__main-image__uploaded img {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

/* errors */
label.errors {
    color: red !important
}

.product__create__form input.errors {
    border-bottom: 1px solid red;
}
.product__create__form button:disabled{
    cursor: not-allowed;
    filter: brightness(75%);
}

.product__create__form__group ul {
    font-size: .8rem;
    color: red;
}
.product__create__form__group textarea {
    resize: none;
    width: 100%;
}
.product__create__form__group textarea.errors {
    border: 1px solid red;
}